# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.env
*.env

# Django specific
db.sqlite3
*.log

# VS Code settings
.vscode/

# Windows specific
Thumbs.db
Desktop.ini

# Python cache and compiled files
*.pyo
*.pyd
*.pyc

# Ignore secrets
config.py
